@import "./styles/variables.scss";

html {
  background-color: $color-blue;
}

body {
  display: flex;
  font-family: $text-font;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  h1 {
    color: $color-black;
    font-family: $heading-font;
    font-size: 3rem;
    text-align: center;

    @media (min-width: 480px) {
      font-size: 4rem;
      max-width: 70%;
    }
    @media (min-width: 768px) {
      font-size: 5rem;
    }
    @media (min-width: 1024px) {
      font-size: 7rem;
    }
  }
}

main {
  align-items: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 100%;

  @media (min-width: 480px) {
    max-width: 80%;
  }
  @media (min-width: 768px) {
    max-width: 40%;
  }
  @media (min-width: 1024px) {
    max-width: 25%;
  }
}

h2 {
  color: $color-black;
  font-size: 1.2rem;
  padding-top: 1rem;
}
